@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800&display=swap');
@import url('satoshi.css');
@import url('https://fonts.cdnfonts.com/css/satoshi');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  text-wrap: balance;
  scroll-snap-type: y mandatory;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#index-wrapper{
  padding-left: 5%;
  padding-right:5%;
}


.navbar {
  padding: 0;
  margin: 0;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
  background-image:linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));;
}

.navbar .navcontent {
  color: black;
  font-family: inter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
}

.navbar .navcontent li a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  position: relative;
}

.navbar .navcontent li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: pink;
  background-color: #f00;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}

.navbar .navcontent li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar .navcontent li a:hover {
  color: #F76C6C;
}

section.hero {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-type: y mandatory;

}

section.hero .home-wrapper {
  background-color: white;
  color: black;
  font-family: 'satoshi', sans-serif;
  font-weight: 500;
  padding: 10%;
  max-width: 40%;
}

section.hero .home-wrapper p {
  font-family: roboto mono;
  font-size: 0.9em;
}

section.hero .home-wrapper .sentence {
  color: black;
  font-size: 2.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.hero .home-wrapper h1.name {
  color: #F76C6C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.hero .home-wrapper .ctm {
  height: 65px;
  width: 140px;
  border: 2.5px solid #F76C6C;
  border-radius: 15px;
  margin: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

section.hero .home-wrapper .ctm:hover {
  color: #FFFFFF;
  background-color: #F76C6C;
  -webkit-box-shadow: 7px 7px 0px #c53c3c;
          box-shadow: 7px 7px 0px #c53c3c;
}


.ctm-content {
  height: 65px;
  width: 140px;
  border: 2.5px solid #F76C6C;
  border-radius: 15px;
  margin: 0;
  font-family: 'satoshi', sans-serif;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  margin-left: 40%;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.ctm-content:hover {
  color: #FFFFFF;
  background-color: #F76C6C;
  -webkit-box-shadow: 7px 7px 0px #c53c3c;
          box-shadow: 7px 7px 0px #c53c3c;
}


#downloadable{
  text-decoration: none;
  color: black;
}

section.about {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-type: y mandatory;

}

section.about .about-wrapper {
  background-color: white;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  scroll-snap-type: y mandatory;
}

section.about .about-wrapper .me-heading {
  color: black;
  font-family: 'satoshi', sans-serif;
  float: left;
  display: flex;
  scroll-snap-type: y mandatory;
  
}

section.about .about-wrapper .me-content {
  color: black;
  font-family: roboto mono;
  scroll-snap-type: y mandatory;
}

section.about .about-wrapper .pfp {
  height: 400px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  flex: none;
  float: right;
  scroll-snap-type: y mandatory;
}




section.projects {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  scroll-snap-type: y mandatory;
}

section.projects .projects-wrapper {
  background-color: white;
  padding: 10%;
}

section.projects .projects-wrapper .projects-heading {
  color: black;
  font-family: 'satoshi', sans-serif;
  font-weight:900;
}

section.projects .projects-wrapper .projects-content {
  color: black;
  font-family: roboto mono;
  
}

.table-projects{
  padding-top: 30px;
}


section.projects .table, td.name{
  border-bottom: 1px solid black;
  flex: 1 1 100%;
  margin: 0 0 10px;
  padding-bottom: 9px;
  transition: all .1s ease-in-out;
  font-family:inter;
  font-size: small;
}

section.projects .table, td.meta{
  border-bottom: none;
  flex: 1 1 100%;
  margin: 0 0 10px;
  padding-bottom: none;
  transition: all .1s ease-in-out;
  font-family: roboto mono;
  font-size: small;
  float: right;
  margin-left: 40px;
  text-transform: uppercase;
}

section.projects .link{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

section.projects .link:hover{
  color: #F76C6C;
}




section.projects .projects-wrapper .streetimage {
  height: 450px;
  width: auto;
  padding-top: 30px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}


section.projects .projects-wrapper .streetimage :hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}




/*
section.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.footer .footer-wrapper {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.footer .footer-wrapper .footer-content {
  width: 100vw;
  color: black;
  font-family: roboto mono;
  font-size: x-small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
*/
/*# sourceMappingURL=styles.css.map */

/*Projects subpage*/


.video-class{
  height: 100vh;
  width: 100vw;
}

.video-wrapper{
  background-color: white;
  padding: 10%;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  line-height: 2.0;
}

section.video-class .video-content{
  background-color: white;
  padding-top:none;
  width: 664px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


section.video-class .name{
  font-family: 'satoshi', sans-serif;
  font-size:2.2em;
  font-weight: 900;
  line-height: 1.0;
  
}

section.video-class .subtitle{
  font-family: 'roboto mono';
  font-size:small;
  font-weight: 300;
  line-height: 1.5;
  
}

section.video-class .content-writeup{
  font-family: 'Inter', 'sans-serif';
  font-size:medium;
  font-weight: 400;
}


.image-ss{
  max-width: 720px;
  max-height: 480px;
  height: auto;
  width: 720px;
  flex-shrink:2;
  flex-wrap:wrap;
  margin-top:5%;
  margin-bottom:5%;
}


/*grid sample below*/
:root {
  --red: #ef233c;
  --darkred: #F76C6C;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}



.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
  margin-bottom: 1em;
}

.cards {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card:hover {
  color: var(--white);
  background: var(--red);
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--red);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.card:hover .card-link {
  background: var(--darkred);
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--darkred);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
}


@media (max-width: 600px){

  section.video-class .video-content{
    width: 330px;
  }

  section.video-class .name{
    font-family: 'satoshi', sans-serif;
    font-size:2.2em;
    font-weight: 900;
    line-height: 1.0;
    
  }

  .image-ss{
    height: auto;
    width: 100%;
    flex-shrink:2;
    flex-wrap:wrap;
    margin-top:5%;
    margin-bottom:5%;
  }

 #sentence{
  font-size:x-large;
 }

 h5{
  font-size: small;
 }

 section.hero{
  font-size: small;
 }

 section.about{
  font-size: small;
 }

 section.projects{
  font-size: small;
 }

 .video-preview{
  height: auto;
  width: 100%;
  flex-shrink:2;
  flex-wrap:wrap;
  margin-top:5%;
  margin-bottom:5%;

 }
}
