@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800&display=swap');
@import url('satoshi.css');
@import url('https://fonts.cdnfonts.com/css/satoshi');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  text-wrap: balance;
  scroll-snap-type: y mandatory;
}


.navbar {
  padding: 0;
  margin: 0;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar .navcontent {
  color: black;
  font-family: inter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
}

.navbar .navcontent li a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  position: relative;
}

.navbar .navcontent li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: pink;
  background-color: #f00;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}

.navbar .navcontent li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar .navcontent li a:hover {
  color: #F76C6C;
}

section.hero {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-type: y mandatory;

}

section.hero .home-wrapper {
  background-color: white;
  color: black;
  font-family: 'satoshi', sans-serif;
  font-weight: 500;
  padding: 10%;
  max-width: 40%;
}

section.hero .home-wrapper p {
  font-family: roboto mono;
  font-size: 0.9em;
}

section.hero .home-wrapper .sentence {
  color: black;
  font-size: 2.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.hero .home-wrapper h1.name {
  color: #F76C6C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.hero .home-wrapper .ctm {
  height: 65px;
  width: 140px;
  border: 2.5px solid #F76C6C;
  border-radius: 15px;
  margin: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

section.hero .home-wrapper .ctm:hover {
  color: #FFFFFF;
  background-color: #F76C6C;
  -webkit-box-shadow: 7px 7px 0px #c53c3c;
          box-shadow: 7px 7px 0px #c53c3c;
}


.ctm-content {
  height: 65px;
  width: 140px;
  border: 2.5px solid #F76C6C;
  border-radius: 15px;
  margin: 0;
  font-family: 'satoshi', sans-serif;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  margin-left: 40%;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.ctm-content:hover {
  color: #FFFFFF;
  background-color: #F76C6C;
  -webkit-box-shadow: 7px 7px 0px #c53c3c;
          box-shadow: 7px 7px 0px #c53c3c;
}


#downloadable{
  text-decoration: none;
  color: black;
}

section.about {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-type: y mandatory;

}

section.about .about-wrapper {
  background-color: white;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  scroll-snap-type: y mandatory;
}

section.about .about-wrapper .me-heading {
  color: black;
  font-family: 'satoshi', sans-serif;
  float: left;
  display: flex;
  scroll-snap-type: y mandatory;
  
}

section.about .about-wrapper .me-content {
  color: black;
  font-family: roboto mono;
  scroll-snap-type: y mandatory;
}

section.about .about-wrapper .pfp {
  height: 400px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  flex: none;
  float: right;
  scroll-snap-type: y mandatory;
}




section.projects {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  scroll-snap-type: y mandatory;
}

section.projects .projects-wrapper {
  background-color: white;
  padding: 10%;
}

section.projects .projects-wrapper .projects-heading {
  color: black;
  font-family: 'satoshi', sans-serif;
  font-weight:900;
}

section.projects .projects-wrapper .projects-content {
  color: black;
  font-family: roboto mono;
  
}

.table-projects{
  padding-top: 30px;
}


section.projects .table, td.name{
  border-bottom: 1px solid black;
  flex: 1 1 100%;
  margin: 0 0 10px;
  padding-bottom: 9px;
  transition: all .1s ease-in-out;
  font-family:inter;
  font-size: small;
}

section.projects .table, td.meta{
  border-bottom: none;
  flex: 1 1 100%;
  margin: 0 0 10px;
  padding-bottom: none;
  transition: all .1s ease-in-out;
  font-family: roboto mono;
  font-size: small;
  float: right;
  margin-left: 40px;
  text-transform: uppercase;
}

section.projects .link{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

section.projects .link:hover{
  color: #F76C6C;
}




section.projects .projects-wrapper .streetimage {
  height: 450px;
  width: auto;
  padding-top: 30px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}


section.projects .projects-wrapper .streetimage :hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

section.footer {
  height: 10vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.footer .footer-wrapper {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.footer .footer-wrapper .footer-content {
  width: 100vw;
  color: black;
  font-family: roboto mono;
  font-size: x-small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */

/*Projects subpage*/



.video-wrapper{
  background-color: white;
  padding: 10%;
  height: auto;
  display: flex;
  justify-content: center;
}

section.video-class .video-content{
  background-color: white;
  padding-top:none;
  width: 664px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}


section.video-class .name{
  font-family: 'satoshi', sans-serif;
  font-size:2.2em;
  font-weight: 900;
  
}

section.video-class .subtitle{
  font-family: 'roboto mono';
  font-size:small;
  font-weight: 300;
  
}

section.video-class .content-writeup{
  font-family: 'Inter', 'sans-serif';
  font-size:medium;
  font-weight: 400;
}


.image-ss{
  max-width: 720px;
  max-height: 480px;
  height: auto;
  width: 720px;
  flex-shrink:2;
  flex-wrap:wrap;
  margin-top:5%;
  margin-bottom:5%;
}


section.video-class .grid{
  display: flex;
  width: 660px;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.grid-image{
  width: auto;
  height: auto;
}

